.fondo
{
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.borde
{
  border-right: 0.5px white solid;
  color: white;
}

.logo
{
  margin-top: 30px;
}

.fon1
{
  background-color: rgba(138, 138, 138, 0.5);
  padding: 20px;
}

.fon2
{
  background-color: rgba(246, 246, 246, 0.5);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.fot
{
  width: 100px;
  height: 70px;
}

.img-pad
{
  padding: 20px !important;
}

.comm
{
  padding: 2px;
  margin: 5px !important;
}

.bord
{
  border: 0.5px gray solid;
  border-radius: 5px;
}

@media (max-width:640px)
{
  .borde
  {
    border-right: none;
  }

  .fot
  {
    width: 120px;
    height: 70px;
  }
}

@media (min-width:641px) and (max-width:1024px)
{
  .fot
  {
    width: 70px;
    height: 60px;
  }
}
